@font-face{
	src: url(fonts/Roboto/Roboto-Light.ttf);
	font-family: Rob;
}
body{
	color: white;
}
.Osnov{
	background-color: rgb(7, 18, 26);
}
.intro{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 800px;
	background-image: url(../images/uselie.jpg);
	background-size: cover;
	color: white;
	text-shadow: #000 0 0 10px;
}

.intro p{
	text-align: center;
	font-size: 22px;
	letter-spacing: 0.08em;
	
	max-width: 660px;
}
.mesh-block{
	background-color: rgb(12,25,75);
	width: 100%;
	height: 60px;
}
.block{
	display: flex;
	justify-content: space-between;
	
}
.block > div{
	padding: 5px;
	margin: 10px;
}
.text{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	font-size: 25px;
}
.block img{
	margin: 5px;
}

.block .img{
	display: flex;
	flex-direction: column;

}
.block .img div{
	display: flex;
}
.Nexsus >.img > img{
	
	width: 1010px;
}
.Nexsus >.img > div > img{
	
	width: 500px;
}
.Tower >.img > img{
	width: 450px;
	height: 736px;
	
}
.Tower >.img > div > img{
	
	width: 550px;
}
.Tower .img{
	flex-direction: row;
}
.Tower >.img > div{
	flex-direction: column;

}
.Tower .text{
	font-size: 23px;
}
.Forest >.img > img{
	width: 450px;
	height: 746px;
	
}
.Forest >.img > div > img{
	
	width: 550px;
}
.Forest .img{
	flex-direction: row;
}
.Forest >.img > div{
	flex-direction: column;

}
.Forest .text{
	font-size: 20px;
}
.Lines .text{
	font-size: 17px;
}
.Lines h4{
	margin-block-start: 0px;
	margin-block-end: 0px;
}
.Power .text{
	text-align: center;
}
.Skills .text{
	text-align: center;
}
.Skills img{
	width: 542px;
}
.Skills .img{
	display: flex;
	align-items: center;
}
.Champions .img{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.Champions a div{
	background-color: rgb(0, 160, 181);
	margin: 0px;
	padding: 0px;
	justify-content: center;
	
}
.Champions a > div{
	display: flex;
	flex-direction: column;
}
.Champions a img{
	margin: 0px;
}
.Champions p{
	text-align: center;
}
.Champions .img a{
	text-decoration: none;
	text-align: center;
	color: white;
	margin: 5px;
}
.Champions .img a p{
	text-align: center;
	margin: 0px;
	font-family: Neue;
	
}
