.Osnov{
	display: flex;
	justify-content: center;
	
	height: 1100px;
	background-image: url(../images/uselie.jpg);
	background-size: cover;
	background-position: center center;
	color: white;
}
.Osnov > div{
	display: flex;
	flex-direction: column;
	align-items: center
}
.Osnov img{
	height: 300px;
}

.Osnov .button{
	background-color: rgb(208, 168, 92);
	border: 4px groove black;
	margin: 20px;
	padding: 10px;
	border-radius: 50px 10px;
	transition: 0.5s;
	font-family: Spiegel, "Arial Narrow", Arial, sans-serif;
	width: 300px;
}
.Osnov a{
	text-decoration: none;
	color: white;
}
.Osnov .button:hover{
	border-radius: 10px 10px;
}
.Osnov .intro{
	margin: 20px;
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.Osnov h1{
	text-align: center;
	font-size: 45px;
}
.Osnov p{
	text-align: center;
	font-size: 35px;
}
@media all and (max-width: 630px){
	.Osnov{
		height: 1350px ;
	}
}
